@import url(https://cdn.katsuragi.cyou/fonts/TH/LINEseed-Regular); 

*{
  font-family: 'LINEseed-Regular', sans-serif;
}

body{
  background-image: url('./contents/school.jpg');
  background-size: cover;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2.5px);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 350px;
}

.form-header{
  font-weight: bold;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

label {
  margin-bottom: 5px;
}

input {
  border: none;
  border-bottom: 1px solid #ddd;
  border-radius: 3px;
  padding: 2px;
  width: 100%;
  outline: none;
  background: transparent;
}

button {
  background-color: #333;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
}

button:hover {
  background-color: #8bc1d6;
}
